body {
  font-family: Arial, sans-serif;
}

form {
  max-width: 1000px;
  margin: 0 auto;
}

.form-row {
  display: inline-block;
  margin: 10px;
}

label {
  margin-right: 10px;
}

input[type="text"],
input[type="date"],
input[type="file"],
select {
  width: 95%;
  box-sizing: border-box;
}

#quickAddContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

#quickAddButtons button,
#addRoomButton {
  margin: 5px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  table-layout: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  word-wrap: break-word;
  overflow: hidden;
}

th {
  background-color: #f2f2f2;
}

th,
td:nth-child(1) {
  width: 15%;
}

td:nth-child(2),
td:nth-child(5) {
  width: 10%;
}

td:nth-child(3),
td:nth-child(6) {
  width: 20%;
}

td:nth-child(4),
td:nth-child(7) {
  width: 15%;
}

td:nth-child(8) {
  width: 10%;
}

.room-row {
  background-color: #e6e6e6;
}

.item-row {
  background-color: #f9f9f9;
}

.room-name {
  font-weight: bold;
  margin-right: 10px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
}
